<h1>Github Contributions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Contributions</th>
  </tr>

  <% @contributions.each do |contribution| %>
    <tr>
      <td><%= contribution[:date] %></td>
      <td><%= contribution[:count] %></td>
    </tr>
  <% end %>
</table>
