<h1>Github Contributions</h1>

<div class="github-link">
  <i class="fab fa-github-square"></i>
  <a href="https://github.com/taichi0221" target="_blank">taichi0221</a>
</div>
<a href="https://github.com/taichi0221" target="_blank">
  <img src="https://grass-graph.appspot.com/images/taichi0221.png?">
</a>

<%= link_to "https://github.com/taichi0221", target: "_blank" do %>
  <%= image_tag("https://grass-graph.appspot.com/images/taichi0221.png?", class: "img-fluid") %>
<% end %>
<%= image_tag("https://free-icons.net/wp-content/uploads/2021/02/symbol052.png", alt: "Symbol Icon", class: "icon-class") %>
